/*Reset default styles*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/*Header*/
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
header h1 {
  background-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 30px;
}
/*Navigation*/
nav {
  display: flex;
}
nav a {
  color: black;
  background-color: white;
  padding: 8px 16px;
  border-radius: 30px;
  border-color: black;
  border: 2.5px solid black;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  color: rgb(23, 152, 232);
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out color 0.3s ease-in-out;
}
/*Main*/
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 20px;
}
/*India Abroad*/
#india-abroad{
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
}
#india-abroad h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
#india-abroad label{
  font-size: 20px;
  color: black;
  text-align: center;
}
/*Travel Dates*/
#travel-dates {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
}
#travel-dates h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
#travel-dates label {
  font-size: 20px;
  color: black;
  text-align: center;
}
#travel-dates p {
  font-size: 20px;
  color: black;
  text-align: center;
}
#travel-dates input[type="date"] {
  width: 20%;
  padding: 10px;
  font-size: 16px;
}
/*Pictures*/
#pictures {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  display: flex;
  gap: 5px;
  padding: 80px;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Allows scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

#pictures::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}

#pictures img {
  height: 200px;
  width: auto;
  transition: transform 0.3s ease, filter 0.3s ease, z-index 0.3s ease;
  filter: blur(2px);
  position: relative;
  z-index: 1;
}
#pictures img:hover {
  transform: scale(1.8);
  filter: blur(0);
  z-index: 10; /* Bring the focused image to the front */
}
/*Destination Selector*/
#destination-selector {
  grid-row: span 3 / span 3;
  grid-column: span 2 / span 2;
  grid-row-start: 5;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
}
#destination-selector h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
#destination-selector button {
  display: block;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/*Destination Dropdown*/
#destination-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}
#destination-dropdown:focus {
  transform: scale(1.05);
}
/*Destination Details*/
#destination-details {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 5;  
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
}
#destination-details h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
#destination-details-content{
  margin-bottom: 30px;
}
#destination-details-content h3{
  font-size: 25px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: underline;
}
#destination-details-content p{
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
#destination-details a{
  text-decoration: none;
}
#destination-details button{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/*Itinerary*/
#itinerary{
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 8;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
}
#itinerary h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
#itinerary h3{
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: underline;
}
#itinerary h4{
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}
#itinerary p{
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
#itinerary button{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/*Packing Checklist*/
#packing-checklist {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 8;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
}
#packing-checklist h2 {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
#packing-checklist ul{
  list-style-type: circle;
  font-size: 20px;
}
.location-data{
  text-align: center;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;
}


