/* Reset default styles /*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
/*Body styling*/
body {
  background-color:#f8f9fa;
  color: black;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
header h1 {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  }
/* Navigation */
nav {
  background-color: #f8f9fa;
  display: flex;
  gap: 50px;
  padding: 10px;
  margin: 10px;
}
nav a {
  color: aqua;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  text-decoration: underline;
  color: black;
} 
/* Main */
main {
  display: grid;/* Sidebar(1 fr) and Maincontent(2fr) */
  gap: 30px;
  grid-template-columns: 1fr;
  padding: 20px;
}
/* india-abroad */
#india-abroad {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/*Travel Dates*/
#travel-dates {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*Images*/
#pictures {
  display: flex;
  gap: 10px;
  padding: 10px;
}
#pictures img {
  height: 200px;
  width: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: blur(2px);
}
#pictures img:hover {
  transform: scale(1.1);
  filter: blur(0);
}
/* Destination Selector */
#destination-selector {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#destination-selector button {
  margin: 10px;
  width: 50%;
  padding: 5px;
}
/* Destination Dropdown */
#destination-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#destination-dropdown:focus {
  transform: scale(1.05);
}
/* Itinerary and details Section */
#itinerary , #destination-details, #packing-checklist {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Responsive Design */

